p#pogrubienie_bogdan
{
    font-size: 31px;
    color: #FF61CE;
}

p#pochylona_bogdan
{
    font-size: 36pt;
    color: #FFD573;
}

p#index_gorny_nazwisko
{
    font-size: 1,1cm;
    color: #FFF12B;
}

p#index_dolny_bogdan
{
    font-size: 1,7cm;
    color: #39F7E2;
}

p#mono_bogdan
{
    font-size:41px ;
    color: #1BE36A;
}

p#powiekszenie_bogdan
{
    color: #55439C;
}

p#pomniejszenie_bogdan
{
    color: #B8A738;
}
