p {
    font-size: 20mm;
    color: gold;
}

p:lang(pl) {
    font-size: 25mm;
    color: yellow;
}

p:lang(en) {
    font-size: 34mm;
    color: red;

}

body {
    background-color: silver;
}